<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Metalurgica.Properties.Settings.CubigestConnectionString"
      connectionString="Data Source=192.168.1.192;Initial Catalog=Cubigest;Persist Security Info=True;User ID=informat;Password=centauro"
      providerName="System.Data.SqlClient" />
    <add name="Metalurgica.Properties.Settings.CubigestConnectionString1"
      connectionString="Data Source=192.168.1.192;Initial Catalog=Cubigest;Persist Security Info=True;User ID=cubigest;Password=cubiplop"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="2.0.0" />
    <add key="VersionColada" value="2.0.0" />
    <add key="VersionProduccion" value="2.0.0" />
    <add key="VersionDespachoCamion" value="1.0.0.90" />
    <add key="Archivo_IntegracionINET" value="Integracion_INET.exe" />
    <add key="ValidaPaqueteProducido" value="N" />
    <add key="ValidaColadaEnProduccion" value="N" />
    <add key="ValidaSolicitud_MP" value="S" />
    <add key="Bodega" value="Santiago" />
    <add key="LimiteKgs" value="500" />
    <!--<add key="Empresa" value="TOSOL" />-->
    <add key="IdSucursal" value="4" />
    <add key="Empresa" value="TO" />
    <add key="Sucursal" value="SANTIAGO" />
    <add key="ValidaTolerancia_MP" value="S" />
    <add key="Tolerancia_MP" value="500" />
    <add key="LoginPorTarjeta" value="N" />
<!--Solicitud Materia prima rango para rollos-->
    <add key="RolloCAP" value="1150-1350" />
    <add key="RolloGERDAU" value="1400-1600" />
     <add key="Tolerancia_SMP" value="4" /><!-- Es en Porcentaje -->
<!--           Fin                         -->
    <add key="PathDBRomana" value="F:\Roberto\Gerencia Informatica y procesos\Requerimientos\2015\Junio\Peso Romana\DB\Smgip.Mdb" />
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="CrudSoap" maxReceivedMessageSize="999999999" />
                    <binding name="WS_SesionSoap" maxReceivedMessageSize="999999999" />
                    <binding name="OperacionSoap" closeTimeout="00:03:00" openTimeout="00:03:00"
                          sendTimeout="00:03:00" maxReceivedMessageSize="999999999" />
                    <binding name="Ws_ToSoap" closeTimeout="00:05:00" openTimeout="00:05:00"
                          sendTimeout="00:05:00" maxReceivedMessageSize="999999999" />
                    <binding name="XMLDocVtaExtSoapBinding" />
                    <binding name="wsmovexiallSoapBinding" />
                    <binding name="XMLDocVtaExtSoapBinding1" />
                    <binding name="wsmovexiallSoapBinding1" />
                    <binding name="Ws_ToSoap1" />
                    <binding name="Ws_ToSoap2" />
                    <binding name="XMLDocVtaExtSoapBinding2" />
                    <binding name="wsmovexiallSoapBinding2" />
                    <binding name="OperacionSoap1" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://192.168.1.192:8080/wstorres/servlet/awsmovexiall"
                    binding="basicHttpBinding" bindingConfiguration="wsmovexiallSoapBinding"
                    contract="Px_MovStock.wsmovexiallSoapPort" name="wsmovexiallSoapPort" />
              <endpoint address="http://192.168.1.192:8080/wstorres/servlet/axmldocvtaext"
                    binding="basicHttpBinding" bindingConfiguration="XMLDocVtaExtSoapBinding1"
                    contract="Px_INET.XMLDocVtaExtSoapPort" name="XMLDocVtaExtSoapPort1" />
              <endpoint address="http://192.168.1.192:8080/wstorres/servlet/awsmovexiall"
                    binding="basicHttpBinding" bindingConfiguration="wsmovexiallSoapBinding1"
                    contract="Px_MovExistenciasINET.wsmovexiallSoapPort" name="wsmovexiallSoapPort1" />
              <endpoint address="http://localhost:54700/CUbigest2008/WS/Crud.asmx"
                    binding="basicHttpBinding" bindingConfiguration="CrudSoap"
                    contract="WsCrud.CrudSoap" name="CrudSoap" />
              <endpoint address="http://localhost:54700/CUbigest2008/WS/WS_Sesion.asmx"
                    binding="basicHttpBinding" bindingConfiguration="WS_SesionSoap"
                    contract="WsSesion.WS_SesionSoap" name="WS_SesionSoap" />
              <endpoint address="http://200.29.219.25:8080/wstosol/servlet/axmldocvtaext"
                    binding="basicHttpBinding" bindingConfiguration="XMLDocVtaExtSoapBinding2"
                    contract="Px_GuiaTOSOL.XMLDocVtaExtSoapPort" name="XMLDocVtaExtSoapPort" />
              <endpoint address="http://192.168.1.192:8080/wstosol/servlet/awsmovexiall"
                    binding="basicHttpBinding" bindingConfiguration="wsmovexiallSoapBinding2"
                    contract="Px_MovStockTOSOL.wsmovexiallSoapPort" name="wsmovexiallSoapPort2" />
              <endpoint address="http://localhost:54700/CUbigest2008/WS/Ws_To.asmx"
                    binding="basicHttpBinding" bindingConfiguration="Ws_ToSoap"
                    contract="Ws_TO.Ws_ToSoap" name="Ws_ToSoap" />
              <endpoint address="http://localhost:54700/CUbigest2008/WS/Ws_To.asmx"
                    binding="basicHttpBinding" bindingConfiguration="Ws_ToSoap1"
                    contract="Px_WS.Ws_ToSoap" name="Ws_ToSoap1" />
              <endpoint address="http://localhost:54700/CUbigest2008/WS/Operacion.asmx"
                    binding="basicHttpBinding" bindingConfiguration="OperacionSoap"
                    contract="WsOperacion.OperacionSoap" name="OperacionSoap" />
        </client>
    </system.serviceModel>
</configuration>